<?xml version="1.0"?>
<configuration>
    <startup>
        <supportedRuntime version="v2.0.50727"/>
    </startup>
    <!-- configSource="..\..\..\..\..\PracticeManagement\Web.Debug (Nikita).config" -->
    <appSettings file="..\..\..\..\..\PracticeManagement\Web.Debug (Nikita).config" />
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="genericBasicHttpBinding" maxReceivedMessageSize="500000000">
                    <readerQuotas maxStringContentLength="500000000"/>
                </binding>
            </basicHttpBinding>
        </bindings>
        <!-- NOTE: The configSource attribute must be a relative physical path. -->
        <client>
            <endpoint address="http://localhost/PracticeManagementService/ConfigurationService.svc"
              binding="basicHttpBinding" bindingConfiguration="genericBasicHttpBinding"
              contract="ConfigurationService.IConfigurationService" />
        </client>
    </system.serviceModel>
</configuration>

