<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="schedule" type="PracticeManagementScheduler.Settings.TaskSection, PracticeManagementScheduler, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
  </configSections>
  <appSettings file="D:\PRMA\Solution\PracticeManagementService\Web.Debug (Nikita).config"/>
  <!-- tasks_period is in seconds, e.g. 60 means 60 seconds or 1 minute -->  
  <schedule tasks_period="60">
    <tasks >
      <task name="Projected Project" enabled="false" period="60" sprocName="[dbo].[EmailNotificationsListProjectedProjects]" templateId="18" />
      <task path="Projectd Person" enabled="false" period="600" sprocName="[dbo].[EmailNotificationsListExpiredPersons]" templateId="16"/>
    </tasks>
  </schedule>
  <system.serviceModel>
      <bindings>
        <basicHttpBinding>
             <binding name="genericBasicHttpBinding" maxReceivedMessageSize="500000000">
                <readerQuotas maxStringContentLength="500000000"/>
            </binding>
        </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/PracticeManagementService/ConfigurationService.svc"
        binding="basicHttpBinding" bindingConfiguration="genericBasicHttpBinding"
        contract="ConfigurationService.IConfigurationService" />
    </client>
  </system.serviceModel>
</configuration>
