<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="sqlscripts" type="WebPublisher.Settings.ScriptSection, WebPublisher, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
        <section name="websites" type="WebPublisher.Settings.WebInstanceSection, WebPublisher, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere" allowExeDefinition="MachineToLocalUser" overrideModeDefault="Allow" restartOnExternalChanges="true" requirePermission="true" />
    </configSections>
    <sqlscripts>
        <scripts>
          <script path="d:\scripts\final\tables\dbo.MarginType.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.RevenueType.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.CommissionType.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.ProjectStatus.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.PersonStatus.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.Seniority.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.Practice.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.Person.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.Client.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.ProjectGroup.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.Project.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.PersonRole.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.Milestone.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.WeekPaidOption.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.OpportunityStatus.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.OpportunityTransitionStatus.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.Timescale.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.OverheadRateType.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.TimeType.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.UserActivityType.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.PermissionTarget.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.BilledTime.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.Calendar.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.Commission.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.DefaultCommission.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.DefaultRecruiterCommissionHeader.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.DefaultRecruiterCommissionItem.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.EmailTemplate.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.ExpenseBasis.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.ExpenseCategory.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.MilestoneNote.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.MilestonePerson.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.MilestonePersonEntry.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.MonthlyExpense.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.Opportunity.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.OpportunityTransition.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.OverheadAdministration.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.OverheadFixedRate.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.OverheadFixedRateTimescale.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.Pay.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.Permission.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.PersonCalendar.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.PersonCalendarAuto.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.ProjectBillingInfo.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.ProjectBillingInfoNote.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.ProjectExpense.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.RecruiterCommission.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.TimeEntries.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\tables\dbo.UserActivityLog.Table.sql" include="true" category="tables" />
          <script path="d:\scripts\final\Fuctions\dbo.CompensationCoversMilestone.UserDefinedFunction.sql" include="true" category="Fuctions" />
          <script path="d:\scripts\final\Fuctions\dbo.CompensationCoversMilestone_test.UserDefinedFunction.sql" include="true" category="Fuctions" />
          <script path="d:\scripts\final\Fuctions\dbo.ComputeMonthSalary.UserDefinedFunction.sql" include="true" category="Fuctions" />
          <script path="d:\scripts\final\Fuctions\dbo.ConvertStringListIntoTable.UserDefinedFunction.sql" include="true" category="Fuctions" />
          <script path="d:\scripts\final\Fuctions\dbo.GetCurrentPayType.UserDefinedFunction.sql" include="true" category="Fuctions" />
          <script path="d:\scripts\final\Fuctions\dbo.GetDatabaseVersion.UserDefinedFunction.sql" include="true" category="Fuctions" />
          <script path="d:\scripts\final\Fuctions\dbo.GetDaysInMonth.UserDefinedFunction.sql" include="true" category="Fuctions" />
          <script path="d:\scripts\final\Fuctions\dbo.GetDefaultHoursPerDay.UserDefinedFunction.sql" include="true" category="Fuctions" />
          <script path="d:\scripts\final\Fuctions\dbo.GetFutureDate.UserDefinedFunction.sql" include="true" category="Fuctions" />
          <script path="d:\scripts\final\Fuctions\dbo.GetHoursPerYear.UserDefinedFunction.sql" include="true" category="Fuctions" />
          <script path="d:\scripts\final\Fuctions\dbo.GetNumberAvaliableHours.UserDefinedFunction.sql" include="true" category="Fuctions" />
          <script path="d:\scripts\final\Fuctions\dbo.GetNumberHolidayDays.UserDefinedFunction.sql" include="true" category="Fuctions" />
          <script path="d:\scripts\final\Fuctions\dbo.GetNumberHolidayDaysWithWeekends.UserDefinedFunction.sql" include="true" category="Fuctions" />
          <script path="d:\scripts\final\Fuctions\dbo.GetNumberProjectedHours.UserDefinedFunction.sql" include="true" category="Fuctions" />
          <script path="d:\scripts\final\Fuctions\dbo.GetNumberWorkingDays.UserDefinedFunction.sql" include="true" category="Fuctions" />
          <script path="d:\scripts\final\Fuctions\dbo.GetOpportunityHistory.UserDefinedFunction.sql" include="true" category="Fuctions" />
          <script path="d:\scripts\final\Fuctions\dbo.GetOverlappingPlacementDays.UserDefinedFunction.sql" include="true" category="Fuctions" />
          <script path="d:\scripts\final\Fuctions\dbo.GetWeeklyUtilization.UserDefinedFunction.sql" include="true" category="Fuctions" />
          <script path="d:\scripts\final\Fuctions\dbo.IsDateRangeWithingTimeInterval.UserDefinedFunction.sql" include="true" category="Fuctions" />
          <script path="d:\scripts\final\Fuctions\dbo.IsSomeonesManager.UserDefinedFunction.sql" include="true" category="Fuctions" />
          <script path="d:\scripts\final\Fuctions\dbo.MakeDate.UserDefinedFunction.sql" include="true" category="Fuctions" />
          <script path="d:\scripts\final\Fuctions\dbo.MakeDefaultRecruiterCommissionText.UserDefinedFunction.sql" include="true" category="Fuctions" />
          <script path="d:\scripts\final\Fuctions\dbo.MakeNumberFromDate.UserDefinedFunction.sql" include="true" category="Fuctions" />
          <script path="d:\scripts\final\Fuctions\dbo.Today.UserDefinedFunction.sql" include="true" category="Fuctions" />
          <script path="d:\scripts\final\views\dbo.v_MilestonePersonSchedule.View.sql" include="true" category="views" />
          <script path="d:\scripts\final\views\dbo.v_MilestoneRevenueRetrospective.View.sql" include="true" category="views" />
          <script path="d:\scripts\final\views\dbo.v_PersonPayRetrospective.View.sql" include="true" category="views" />
          <script path="d:\scripts\final\views\dbo.v_OverheadFixedRate.View.sql" include="true" category="views" />
          <script path="d:\scripts\final\views\dbo.v_OverheadFixedRateTimescale.View.sql" include="true" category="views" />
          <script path="d:\scripts\final\views\dbo.v_FinancialsRetrospective.View.sql" include="true" category="views" />
          <script path="d:\scripts\final\views\dbo.v_PersonCalendar.View.sql" include="true" category="views" />
          <script path="d:\scripts\final\views\dbo.v_MilestonePersonVacations.View.sql" include="true" category="views" />
          <script path="d:\scripts\final\views\dbo.v_ProjectExpenses.View.sql" include="true" category="views" />
          <script path="d:\scripts\final\views\dbo.v_MilestoneHours.View.sql" include="true" category="views" />
          <script path="d:\scripts\final\views\dbo.v_MilestonePersonLight.View.sql" include="true" category="views" />
          <script path="d:\scripts\final\views\dbo.v_PersonOverheadRetrospective.View.sql" include="true" category="views" />
          <script path="d:\scripts\final\views\dbo.v_FinancialsForMilestones.View.sql" include="true" category="views" />
          <script path="d:\scripts\final\views\dbo.v_FinancialsListByProjectPeriod.View.sql" include="true" category="views" />
          <script path="d:\scripts\final\views\dbo.v_FinancialsListByProjectPeriodTotal.View.sql" include="true" category="views" />
          <script path="d:\scripts\final\views\dbo.v_Milestone.View.sql" include="true" category="views" />
          <script path="d:\scripts\final\views\dbo.v_MilestoneExpenses.View.sql" include="true" category="views" />
          <script path="d:\scripts\final\views\dbo.v_MilestoneLight.View.sql" include="true" category="views" />
          <script path="d:\scripts\final\views\dbo.v_MilestonePerson.View.sql" include="true" category="views" />
          <script path="d:\scripts\final\views\dbo.v_MilestonePersonExpense.View.sql" include="true" category="views" />
          <script path="d:\scripts\final\views\dbo.v_MilestonePersonHours.View.sql" include="true" category="views" />
          <script path="d:\scripts\final\views\dbo.v_MilestonePersonMonthHours.View.sql" include="true" category="views" />
          <script path="d:\scripts\final\views\dbo.v_Opportunity.View.sql" include="true" category="views" />
          <script path="d:\scripts\final\views\dbo.v_OpportunityHistory.View.sql" include="true" category="views" />
          <script path="d:\scripts\final\views\dbo.v_Pay.View.sql" include="true" category="views" />
          <script path="d:\scripts\final\views\dbo.v_Permissions.View.sql" include="true" category="views" />
          <script path="d:\scripts\final\views\dbo.v_Person.View.sql" include="true" category="views" />
          <script path="d:\scripts\final\views\dbo.v_PersonOverhead.View.sql" include="true" category="views" />
          <script path="d:\scripts\final\views\dbo.v_PersonProjectCommission.View.sql" include="true" category="views" />
          <script path="d:\scripts\final\views\dbo.v_Project.View.sql" include="true" category="views" />
          <script path="d:\scripts\final\views\dbo.v_ProjectTotalExpenses.View.sql" include="true" category="views" />
          <script path="d:\scripts\final\views\dbo.v_RecruiterComissionWithDays.View.sql" include="true" category="views" />
          <script path="d:\scripts\final\views\dbo.v_TimeEntries.View.sql" include="true" category="views" />
          <script path="d:\scripts\final\views\dbo.v_UsersInRoles.View.sql" include="true" category="views" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PermissionsSet.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PermissionsSetClients.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PermissionsSetGroups.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PermissionsSetSalespersons.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PermissionsSetPracticeManagers.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PermissionsSetPractices.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.SessionLogPrepare.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.SessionLogUnprepare.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.GenerateNewProjectNumber.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ProjectBillingInfoSave.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.MilestoneClone.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.MilestonePersonDeleteEntries.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.MilestonePersonInsert.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.MilestonePersonEntryInsert.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ProjectInsert.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.OpportunityTransitionInsert.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ActivityLogGetCount.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ActivityLogListByPeriod.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.CalendarGet.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.CalendarUpdate.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ClientGetById.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ClientInactivate.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ClientInsert.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ClientListAll.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ClientListAllForProject.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ClientReactivate.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ClientUpdate.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.CloneProject.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.CommissionGetByProjectType.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.CommissionSet.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ConsultantMilestones.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ConsultantUtilizationReport.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ConsultantUtilizationWeekly.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.DefaultComissionDelete.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.DefaultComissionGetByPerson.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.DefaultComissionSave.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.DefaultRecruiterCommissionCleanup.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.DefaultRecruiterCommissionDeleteItems.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.DefaultRecruiterCommissionGetById.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.DefaultRecruiterCommissionGetByPersonDate.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.DefaultRecruiterCommissionHeaderInsert.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.DefaultRecruiterCommissionHeaderUpdate.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.DefaultRecruiterCommissionItemInsert.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.DefaultRecruiterCommissionItemList.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.DefaultRecruiterCommissionItemUpdate.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.DefaultRecruiterCommissionListByPerson.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.EmailTemplateDelete.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.EmailTemplateGetAll.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.EmailTemplateInsert.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.EmailTemplateUpdate.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ExpenseBasisListAll.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ExpenseCategoryDelete.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ExpenseCategoryInsert.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ExpenseCategoryListAll.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ExpenseCategoryUpdate.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.FinancialsGetByMilestone.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.FinancialsGetByMilestonePerson.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.FinancialsGetByMilestonePersonEntry.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.FinancialsGetByMilestonePersonPeriod.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.FinancialsGetByProject.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.FinancialsListByProjectPeriod.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.FinancialsListByProjectPeriodTotal.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ListManagersSubordinates.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.MembershipDelete.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.MilestoneDelete.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.MilestoneGetById.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.MilestoneInsert.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.MilestoneListByProject.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.MilestoneMove.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.MilestoneMoveEnd.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.MilestoneNoteGetByMilestone.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.MilestoneNoteInsert.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.MilestonePersonActivity.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.MilestonePersonDelete.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.MilestonePersonEntryCreateProgrammatically.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.MilestonePersonEntryListByMilestonePersonId.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.MilestonePersonGetByMilestonePerson.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.MilestonePersonGetByMilestonePersonId.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.MilestonePersonListByMilestone.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.MilestonePersonListByPerson.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.MilestonePersonListByProject.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.MilestonePersonListByProjectMonth.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.MilestonePersonListByProjectPerson.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.MilestonePersonListByProjectShort.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.MilestonePersonListOverheadByPerson.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.MilestoneUpdate.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.MonthlyExpenseDeleteItem.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.MonthlyExpenseListAll.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.MonthlyExpenseListByName.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.MonthlyExpenseSaveItem.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.OpportunityConvertToProject.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.OpportunityExcelSet.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.OpportunityGetById.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.OpportunityInsert.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.OpportunityListAll.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.OpportunityStatusListAll.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.OpportunityTransitionGetByOpportunity.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.OpportunityTransitionStatusListAll.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.OpportunityUpdate.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.OverheadFixedRateGetById.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.OverheadFixedRateInsert.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.OverheadFixedRateListAll.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.OverheadFixedRateUpdate.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.OverheadRateTypeGetById.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.OverheadRateTypeListAll.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.OverheadTimescaleListByOverheadId.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.OverheadTimescaleRemove.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.OverheadTimescaleSet.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PayGetByPersonStartDate.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PayGetCurrentByPerson.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PayGetHistoryByPerson.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PaySave.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PermissionsGetAll.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PermissionsGetAllowedClients.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PermissionsGetAllowedGroups.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PermissionsGetAllowedPracticeManagers.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PermissionsGetAllowedPractices.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PermissionsGetAllowedSalespersons.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PermissionsSetAll.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PersonDelete.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PersonEnsureIntegrity.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PersonExcelSet.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PersonGetByAlias.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PersonGetById.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PersonGetCount.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PersonGetCountActive.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PersonInsert.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PersonListAll.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PersonListAllForMilestone.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PersonListAllSeniorityFilter.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PersonListAllShort.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PersonListBenchExpense.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PersonListBenchExpense_details.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PersonListBenchExpense_fast.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PersonListPracticeManager.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PersonListProjectOwner.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PersonListRecruiter.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PersonListSalesperson.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PersonListSubordinates.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PersonMilestoneWithFinancials.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PersonOneOffList.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PersonOverheadByPerson.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PersonOverheadByTimescale.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PersonRoleListAll.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PersonSetDefaultManager.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PersonSetStatus.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PersonStatsGetByMonth.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PersonStatusListAll.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PersonTimeEntries.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PersonUpdate.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PersonWorkDaysNumber.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PracticeDelete.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PracticeInsert.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PracticeListAll.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.PracticeUpdate.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ProjectBillingInfoDelete.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ProjectBillingInfoGetById.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ProjectBillingInfoNoteInsert.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ProjectBillingInfoNoteListByProject.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ProjectedWorkloadGetByMilestone.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ProjectedWorkloadGetByPerson.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ProjectedWorkloadGetByProject.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ProjectExpenseDelete.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ProjectExpenseGetAllForMilestone.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ProjectExpenseGetById.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ProjectExpenseInsert.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ProjectExpenseUpdate.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ProjectGetById.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ProjectGetByNumber.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ProjectGroupDelete.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ProjectGroupInsert.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ProjectGroupListAll.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ProjectGroupRenameByClient.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ProjectListAll.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ProjectListAllMultiParameters.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ProjectListAllMultiParameters_batch.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ProjectsCountByClient.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ProjectSearchText.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ProjectSetStatus.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ProjectsListByClient.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ProjectStatusListAll.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.ProjectUpdate.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.RecruiterCommissionDelete.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.RecruiterCommissionListByRecruitId.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.RecruiterCommissionSave.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.RecruiterGet.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.RecruiterInactivate.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.RecruiterInsert.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.RecruiterReactivate.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.SalespersonGet.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.SalespersonInactivate.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.SalespersonInsert.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.SalespersonReactivate.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.SalespersonUpdate.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.SeniorityListAll.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.SetNewManager.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.TimeEntriesAll.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.TimeEntryAllMilestones.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.TimeEntryAllPersons.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.TimeEntryInsert.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.TimeEntryRemove.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.TimeEntryToggleIsChargeable.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.TimeEntryToggleIsCorrect.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.TimeEntryToggleIsReviewed.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.TimeEntryUpdate.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.TimescaleGetById.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.TimeTypeDelete.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.TimeTypeGetAll.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.TimeTypeInsert.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.TimeTypeUpdate.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.UserActivityLogInsert.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.WeekPaidOptionListAll.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.WorkDaysCompanyNumber.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\StoredProcedures\dbo.WorkDaysPersonNumber.StoredProcedure.sql" include="true" category="storedProcedures" />
          <script path="d:\scripts\final\InitialData\PracticeManagementUser.User.sql" include="true" category="initialData" />
          <script path="d:\scripts\final\InitialData\PracticeManager.Role.sql" include="true" category="initialData" />
          <script path="d:\scripts\final\InitialData\PracticeUnitTest.Role.sql" include="true" category="initialData" />
          <script path="d:\scripts\final\InitialData\setuptest.User.sql" include="true" category="initialData" />
          <script path="d:\scripts\final\InitialData\demodata.sql" include="true" category="initialData" />
        </scripts>
    </sqlscripts>
    <websites>
        <websites>
            <website name="prma" site_url="http://localhost" site_sources="D:\tmp\sources\PracticeManagement\PracticeManagement.csproj"
                site_output="D:\tmp\output\www" include="true" />
            <website name="prmasvc" site_url="http://localhost" site_sources="D:\tmp\sources\PracticeManagementService\PracticeManagementService.csproj"
                site_output="D:\tmp\output\svc" include="true" />
            <website name="blank" site_url="http://localhost" site_sources="C:\Users\artem.dolya\Documents\Visual Studio 2008\Projects\BlankSoliuton\BlankSoliuton\BlankSoliuton.csproj"
                site_output="c:\web\blank" include="false" />
        </websites>
    </websites>
    <userSettings>
        <WebPublisher.DatabaseSettings>
            <setting name="InstanceName" serializeAs="String">
                <value>sqlexpress</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>prma2</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>sa</value>
            </setting>
        </WebPublisher.DatabaseSettings>
    </userSettings>
</configuration>
