<?xml version="1.0"?>

<client>
  <endpoint address="http://localhost/PracticeManagementService/ActivityLogService.svc"
    behaviorConfiguration="LargeEndpointBehavior" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpBinding_GenericConfiguration"
    contract="ActivityLogService.IActivityLogService" name="BasicHttpBinding_IActivityLogService" />
  <endpoint address="http://localhost/PracticeManagementService/CalendarService.svc"
    behaviorConfiguration="LargeEndpointBehavior" binding="basicHttpBinding"
    bindingConfiguration="BasicHttpBinding_GenericConfiguration"
    contract="CalendarService.ICalendarService" name="BasicHttpBinding_ICalendarService" />
  <endpoint address="http://localhost/PracticeManagementService/PersonService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
    contract="PersonService.IPersonService" name="BasicHttpBinding_IPersonService" />
  <endpoint address="http://localhost/PracticeManagementService/TimescaleService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
    contract="TimescaleService.ITimescaleService" name="BasicHttpBinding_ITimescaleService" />
  <endpoint address="http://localhost/PracticeManagementService/AuthService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
    contract="AuthService.IAuthService" name="BasicHttpBinding_IAuthService" />
  <endpoint address="http://localhost/PracticeManagementService/ClientService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
    contract="ClientService.IClientService" name="BasicHttpBinding_IClientService" />
  <!--<endpoint address="http://localhost/PracticeManagementService/ConfigurationService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
    contract="ConfigurationService.IConfigurationService" name="basicHttpBinding_IConfigurationService" />-->
  <endpoint address="http://localhost/PracticeManagementService/DefaultCommissionService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
    contract="DefaultCommissionService.IDefaultCommissionService"
    name="BasicHttpBinding_IDefaultCommissionService" />
  <endpoint address="http://localhost/PracticeManagementService/DefaultRecruiterCommissionService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
    contract="DefaultRecruiterCommissionService.IDefaultRecruiterCommissionService"
    name="BasicHttpBinding_IDefaultRecruiterCommissionService" />
  <endpoint address="http://localhost/PracticeManagementService/ExpenseCategoryService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
    contract="ExpenseCategoryService.IExpenseCategoryService" name="BasicHttpBinding_IExpenseCategoryService" />
  <endpoint address="http://localhost/PracticeManagementService/ExpenseService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
    contract="ExpenseService.IExpenseService" name="BasicHttpBinding_IExpenseService" />
  <endpoint address="http://localhost/PracticeManagementService/MembershipService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
    contract="MembershipService.IMembershipService" name="BasicHttpBinding_IMembershipService" />
  <endpoint address="http://localhost/PracticeManagementService/MilestoneService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
    contract="MilestoneService.IMilestoneService" name="BasicHttpBinding_IMilestoneService" />
  <endpoint address="http://localhost/PracticeManagementService/OverheadService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
    contract="OverheadService.IOverheadService" name="BasicHttpBinding_IOverheadService" />
  <endpoint address="http://localhost/PracticeManagementService/PersonRoleService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
    contract="PersonRoleService.IPersonRoleService" name="BasicHttpBinding_IPersonRoleService" />
  <endpoint address="http://localhost/PracticeManagementService/PersonStatusService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
    contract="PersonStatusService.IPersonStatusService" name="BasicHttpBinding_IPersonStatusService" />
  <endpoint address="http://localhost/PracticeManagementService/PracticeService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
    contract="PracticeService.IPracticeService" name="BasicHttpBinding_IPracticeService" />
  <endpoint address="http://localhost/PracticeManagementService/ProjectGroupService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
    contract="ProjectGroupService.IProjectGroupService" name="BasicHttpBinding_IProjectGroupService" />
  <endpoint address="http://localhost/PracticeManagementService/ProjectService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
    contract="ProjectService.IProjectService" name="BasicHttpBinding_IProjectService" />
  <endpoint address="http://localhost/PracticeManagementService/ProjectStatusService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
    contract="ProjectStatusService.IProjectStatusService" name="BasicHttpBinding_IProjectStatusService" />
  <endpoint address="http://localhost/PracticeManagementService/RoleService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
    contract="RoleService.IRoleService" name="BasicHttpBinding_IRoleService" />
  <endpoint address="http://localhost/PracticeManagementService/OpportunityService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
    contract="OpportunityService.IOpportunityService" name="BasicHttpBinding_IOpportunityService" />
  <endpoint address="http://localhost/PracticeManagementService/TimeEntryService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
    contract="TimeEntryService.ITimeEntryService" name="BasicHttpBinding_ITimeEntryService" />
  <endpoint address="http://localhost/PracticeManagementService/MilestonePersonService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
    contract="MilestonePersonService.IMilestonePersonService" name="BasicHttpBinding_IMilestonePersonService" />
  <endpoint address="http://localhost/PracticeManagementService/ConfigurationService.svc"
    binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
    contract="ConfigurationService.IConfigurationService" name="BasicHttpBinding_IMilestonePersonService" />
</client>

