<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
        <customErrors mode="Off" xdt:Transform="SetAttributes(mode)" />
    </system.web>
    <location xdt:Transform="Remove" xdt:Locator="Condition(@path='set_user.aspx')" />
    <practiceManagement>
        <timeEntryConfig xdt:Transform="Replace" clientId="539" projectId="153" milestoneId="975"/>
    </practiceManagement>
    <appSettings xdt:Transform="Replace">
        <add key="AdminsEmail" value=""/>
        <add key="ChartImageHandler" value="storage=session;timeout=20;"/>
        <add key="LogoImagePath" value="~/Images/logo_logic_New.png"/>
        <add key="CompanyTitle" value="Logic 20/20"/>
        <add key="senioritySeparationRangeValue" value="19"/>
        <add key="DefaultClientId" value="539" />
        <add key="DefaultProjectId" value="153" />
        <add key="DefaultMileStoneId" value="975" />
        <add key="LowerBound" value="180" />
        <add key="UpperBound" value="180" />
    </appSettings>
    <system.serviceModel>
        <client xdt:Transform="Replace">
            <endpoint address="http://10.10.1.25/STGService/ActivityLogService.svc"
              behaviorConfiguration="LargeEndpointBehavior" binding="basicHttpBinding"
              bindingConfiguration="BasicHttpBinding_GenericConfiguration"
              contract="ActivityLogService.IActivityLogService" name="BasicHttpBinding_IActivityLogService" />
            <endpoint address="http://10.10.1.25/STGService/CalendarService.svc"
              behaviorConfiguration="LargeEndpointBehavior" binding="basicHttpBinding"
              bindingConfiguration="BasicHttpBinding_GenericConfiguration"
              contract="CalendarService.ICalendarService" name="BasicHttpBinding_ICalendarService" />
            <endpoint address="http://10.10.1.25/STGService/PersonService.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
              contract="PersonService.IPersonService" name="BasicHttpBinding_IPersonService" />
            <endpoint address="http://10.10.1.25/STGService/TimescaleService.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
              contract="TimescaleService.ITimescaleService" name="BasicHttpBinding_ITimescaleService" />
            <endpoint address="http://10.10.1.25/STGService/AuthService.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
              contract="AuthService.IAuthService" name="BasicHttpBinding_IAuthService" />
            <endpoint address="http://10.10.1.25/STGService/ClientService.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
              contract="ClientService.IClientService" name="BasicHttpBinding_IClientService" />
            <endpoint address="http://10.10.1.25/STGService/ConfigurationService.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
              contract="ConfigurationService.IConfigurationService" name="basicHttpBinding_IConfigurationService"/>
            <endpoint address="http://10.10.1.25/STGService/DefaultCommissionService.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
              contract="DefaultCommissionService.IDefaultCommissionService"
              name="BasicHttpBinding_IDefaultCommissionService" />
            <endpoint address="http://10.10.1.25/STGService/DefaultRecruiterCommissionService.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
              contract="DefaultRecruiterCommissionService.IDefaultRecruiterCommissionService"
              name="BasicHttpBinding_IDefaultRecruiterCommissionService" />
            <endpoint address="http://10.10.1.25/STGService/ExpenseCategoryService.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
              contract="ExpenseCategoryService.IExpenseCategoryService" name="BasicHttpBinding_IExpenseCategoryService" />
            <endpoint address="http://10.10.1.25/STGService/ExpenseService.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
              contract="ExpenseService.IExpenseService" name="BasicHttpBinding_IExpenseService" />
            <endpoint address="http://10.10.1.25/STGService/MembershipService.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
              contract="MembershipService.IMembershipService" name="BasicHttpBinding_IMembershipService" />
            <endpoint address="http://10.10.1.25/STGService/MilestoneService.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
              contract="MilestoneService.IMilestoneService" name="BasicHttpBinding_IMilestoneService" />
            <endpoint address="http://10.10.1.25/STGService/OverheadService.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
              contract="OverheadService.IOverheadService" name="BasicHttpBinding_IOverheadService" />
            <endpoint address="http://10.10.1.25/STGService/PersonRoleService.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
              contract="PersonRoleService.IPersonRoleService" name="BasicHttpBinding_IPersonRoleService" />
            <endpoint address="http://10.10.1.25/STGService/PersonStatusService.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
              contract="PersonStatusService.IPersonStatusService" name="BasicHttpBinding_IPersonStatusService" />
            <endpoint address="http://10.10.1.25/STGService/PracticeService.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
              contract="PracticeService.IPracticeService" name="BasicHttpBinding_IPracticeService" />
            <endpoint address="http://10.10.1.25/STGService/ProjectGroupService.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
              contract="ProjectGroupService.IProjectGroupService" name="BasicHttpBinding_IProjectGroupService" />
            <endpoint address="http://10.10.1.25/STGService/ProjectService.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
              contract="ProjectService.IProjectService" name="BasicHttpBinding_IProjectService" />
            <endpoint address="http://10.10.1.25/STGService/ProjectStatusService.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
              contract="ProjectStatusService.IProjectStatusService" name="BasicHttpBinding_IProjectStatusService" />
            <endpoint address="http://10.10.1.25/STGService/RoleService.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
              contract="RoleService.IRoleService" name="BasicHttpBinding_IRoleService" />
            <endpoint address="http://10.10.1.25/STGService/OpportunityService.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
              contract="OpportunityService.IOpportunityService" name="BasicHttpBinding_IOpportunityService" />
            <endpoint address="http://10.10.1.25/STGService/TimeEntryService.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
              contract="TimeEntryService.ITimeEntryService" name="BasicHttpBinding_ITimeEntryService" />
            <endpoint address="http://10.10.1.25/STGService/MilestonePersonService.svc"
              binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_GenericConfiguration"
              contract="MilestonePersonService.IMilestonePersonService" name="BasicHttpBinding_IMilestonePersonService" />
        </client>
    </system.serviceModel>
</configuration>
