<?xml version="1.0"?>

<connectionStrings>
	<add name="connection"
		 connectionString="Server=(local);Database=ObfuscatedPracticeManagement;User ID=setuptest;pwd=superpass;Connection Timeout=120"
		 providerName="System.Data.SqlClient" />

	<add name="AspNetMembership"
		 connectionString="Server=(local);Database=ObfuscatedPracticeManagement;User ID=setuptest;pwd=superpass;Connection Timeout=120"
		 providerName="System.Data.SqlClient" />
</connectionStrings>

