<?xml version="1.0"?>
<!--
    Note: As an alternative to hand editing this file you can use the
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in
    machine.config.comments usually located in
    \Windows\Microsoft.Net\Framework\v2.x\Config
-->
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Error" propagateActivity="false">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\Logs\PracticeManagement\Web_tracelog.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelTraceListener" traceOutputOptions="LogicalOperationStack, Timestamp, Callstack">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
  <system.web.extensions>
    <scripting>
      <webServices>
        <authenticationService enabled="true" requireSSL="false" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <appSettings>
    <add key="Environment" value="UAT" />
    <!-- value=PROD for PRODUCTION and value=DEMO for Demo update-->
    <add key="IsMailsEnable" value="0" />
    <!-- value=1 for PRODUCTION and value=1 for Demo update-->
    <!-- Deprecated : Using in Send Mails Deprecated Method  -->
    <add key="EmailDeliveryProviderType" value="PracticeManagement.EmailMessageDeliveryProvider" />
    <add key="EmailsFilePath" value="c:\emails" />
    <add key="EmailAddressFrom" value="support@practivemanagement.com" />
    <add key="EnableSSL" value="false" />
    <!-- NOTE: if you change senioritySeparationRangeValue, be sure to change it also in PracticeManagement/appSettings.config -->
    <add key="senioritySeparationRangeValue" value="19" />
    <add key="UATTestingMail" value="PMTesting@logic2020.com" />
  </appSettings>
  <connectionStrings>
    <add name="connection"
                      connectionString="Server=tcp:gdl05wmfhe.database.windows.net;Database=TEMP_20150727;User ID=pracadmin@gdl05wmfhe; pwd=Meatballs#;Connection Timeout=240"
           providerName="System.Data.SqlClient" />

    <add name="AspNetMembership"
                  connectionString="Server=tcp:gdl05wmfhe.database.windows.net;Database=TEMP_20150727;User ID=pracadmin@gdl05wmfhe; pwd=Meatballs#;Connection Timeout=240"
       providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.transactions>
    <defaultSettings timeout="00:10:00" />
  </system.transactions>
  <system.web>
    <!--
            Set compilation debug="true" to insert debugging
            symbols into the compiled page. Because this
            affects performance, set this value to true only
            during development.
        -->
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>

    <roleManager defaultProvider="AspNetSqlProvider"
     enabled="true"
     cacheRolesInCookie="true"
     cookieName=".ASPROLES"
     cookieTimeout="30"
     cookiePath="/"
     cookieRequireSSL="true"
     cookieSlidingExpiration="true"
     cookieProtection="All">
      <providers>
        <add
     name="AspNetSqlProvider"
     type="System.Web.Security.SqlRoleProvider"
     connectionStringName="AspNetMembership"
     applicationName="PracticeManagement" />
      </providers>
    </roleManager>
    <membership defaultProvider="AspNetSqlMembershipProviderCustomized">
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProviderCustomized"
             type="PraticeManagement.CustomMembershipProvider, PracticeManagementService"
     connectionStringName="AspNetMembership" enablePasswordRetrieval="false"
     enablePasswordReset="true" requiresQuestionAndAnswer="false"
     applicationName="PracticeManagement"
     requiresUniqueEmail="false" passwordFormat="Hashed"
     maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7"
     minRequiredNonalphanumericCharacters="1"
     passwordAttemptWindow="10" passwordStrengthRegularExpression="" />
      </providers>
    </membership>
    <!--
            The <authentication> section enables configuration
            of the security authentication mode used by
            ASP.NET to identify an incoming user.
        -->
    <authentication mode="Forms">
      <forms cookieless="UseCookies" />
    </authentication>
    <!--
            The <customErrors> section enables configuration
            of what to do if/when an unhandled error occurs
            during the execution of a request. Specifically,
            it enables developers to configure html error pages
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </controls>
    </pages>
    <httpHandlers>
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpHandlers>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </httpModules>
    <httpRuntime maxRequestLength="40960" executionTimeout="180" />
  </system.web>
  <location path="AuthService.svc">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="AuthenticationService.svc">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v3.5" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ScriptModule" />
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated" />
      <remove name="ScriptHandlerFactory" />
      <remove name="ScriptHandlerFactoryAppServices" />
      <remove name="ScriptResource" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logMalformedMessages="false" logMessagesAtServiceLevel="false"
    logMessagesAtTransportLevel="false" />
    </diagnostics>
    <services>
      <service behaviorConfiguration="BasicHttpGeneralServiceBehavior"
       name="PracticeManagementService.ClientService">
        <endpoint address="" binding="basicHttpBinding" contract="PracticeManagementService.IClientService">
          <identity>
            <dns value="10.10.1.25" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="BasicHttpGeneralServiceBehavior"
       name="PracticeManagementService.PersonService">
        <endpoint address="" binding="basicHttpBinding" contract="PracticeManagementService.IPersonService">
          <identity>
            <dns value="10.10.1.25" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="BasicHttpGeneralServiceBehavior"
       name="PracticeManagementService.PracticeService">
        <endpoint address="" binding="basicHttpBinding" contract="PracticeManagementService.IPracticeService">
          <identity>
            <dns value="10.10.1.25" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="BasicHttpGeneralServiceBehavior"
       name="PracticeManagementService.ProjectService">
        <endpoint address="" binding="basicHttpBinding" contract="PracticeManagementService.IProjectService">
          <identity>
            <dns value="10.10.1.25" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="BasicHttpGeneralServiceBehavior"
       name="PracticeManagementService.MilestoneService">
        <endpoint address="" binding="basicHttpBinding" contract="PracticeManagementService.IMilestoneService">
          <identity>
            <dns value="10.10.1.25" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="BasicHttpGeneralServiceBehavior"
       name="PracticeManagementService.OverheadService">
        <endpoint address="" binding="basicHttpBinding" contract="PracticeManagementService.IOverheadService">
          <identity>
            <dns value="10.10.1.25" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="BasicHttpGeneralServiceBehavior"
       name="PracticeManagementService.MilestonePersonService">
        <endpoint address="" binding="basicHttpBinding" contract="PracticeManagementService.IMilestonePersonService">
          <identity>
            <dns value="10.10.1.25" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="BasicHttpGeneralServiceBehavior"
       name="PracticeManagementService.CalendarService">
        <endpoint address="" binding="basicHttpBinding" contract="PracticeManagementService.ICalendarService">
          <identity>
            <dns value="10.10.1.25" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="BasicHttpGeneralServiceBehavior"
       name="PracticeManagementService.ProjectStatusService">
        <endpoint address="" binding="basicHttpBinding" contract="PracticeManagementService.IProjectStatusService">
          <identity>
            <dns value="10.10.1.25" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="BasicHttpGeneralServiceBehavior"
       name="PracticeManagementService.PersonStatusService">
        <endpoint address="" binding="basicHttpBinding" contract="PracticeManagementService.IPersonStatusService">
          <identity>
            <dns value="10.10.1.25" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="BasicHttpGeneralServiceBehavior"
       name="PracticeManagementService.TimescaleService">
        <endpoint address="" binding="basicHttpBinding" contract="PracticeManagementService.ITimescaleService">
          <identity>
            <dns value="10.10.1.25" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="BasicHttpGeneralServiceBehavior"
       name="PracticeManagementService.PersonRoleService">
        <endpoint address="" binding="basicHttpBinding" contract="PracticeManagementService.IPersonRoleService">
          <identity>
            <dns value="10.10.1.25" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="BasicHttpGeneralServiceBehavior"
       name="PracticeManagementService.ExpenseCategoryService">
        <endpoint address="" binding="basicHttpBinding" contract="PracticeManagementService.IExpenseCategoryService">
          <identity>
            <dns value="10.10.1.25" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="BasicHttpGeneralServiceBehavior"
       name="PracticeManagementService.ExpenseService">
        <endpoint address="" binding="basicHttpBinding" contract="PracticeManagementService.IExpenseService">
          <identity>
            <dns value="10.10.1.25" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="BasicHttpGeneralServiceBehavior"
       name="PracticeManagementService.AuthService">
        <endpoint address="" binding="basicHttpBinding" contract="PracticeManagementService.IAuthService">
          <identity>
            <dns value="10.10.1.25" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="BasicHttpGeneralServiceBehavior"
       name="PracticeManagementService.MembershipService">
        <endpoint address="" binding="basicHttpBinding" contract="PracticeManagementService.IMembershipService">
          <identity>
            <dns value="10.10.1.25" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="BasicHttpGeneralServiceBehavior"
       name="PracticeManagementService.RoleService">
        <endpoint address="" binding="basicHttpBinding" contract="PracticeManagementService.IRoleService">
          <identity>
            <dns value="10.10.1.25" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="BasicHttpGeneralServiceBehavior"
       name="PracticeManagementService.ActivityLogService">
        <endpoint address="" binding="basicHttpBinding" contract="PracticeManagementService.IActivityLogService">
          <identity>
            <dns value="10.10.1.25" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="BasicHttpGeneralServiceBehavior"
       name="PracticeManagementService.OpportunityService">
        <endpoint address="" binding="basicHttpBinding" contract="PracticeManagementService.IOpportunityService">
          <identity>
            <dns value="10.10.1.25" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="BasicHttpGeneralServiceBehavior"
       name="PracticeManagementService.ProjectGroupService">
        <endpoint address="" binding="basicHttpBinding" contract="PracticeManagementService.IProjectGroupService">
          <identity>
            <dns value="10.10.1.25" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="BasicHttpGeneralServiceBehavior"
       name="PracticeManagementService.TimeEntryService">
        <endpoint address="" binding="basicHttpBinding" contract="PracticeManagementService.ITimeEntryService"  bindingConfiguration="genericBasicHttpBinding">
          <identity>
            <dns value="10.10.1.25" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="BasicHttpGeneralServiceBehavior"
         name="PracticeManagementService.TimeTypeService">
        <endpoint address="" binding="basicHttpBinding" contract="PracticeManagementService.ITimeTypeService">
          <identity>
            <dns value="10.10.1.25" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="BasicHttpGeneralServiceBehavior"
       name="PracticeManagementService.ReportService">
        <endpoint address="" binding="basicHttpBinding" contract="PracticeManagementService.IReportService">
          <identity>
            <dns value="10.10.1.25" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="BasicHttpGeneralServiceBehavior"
       name="PracticeManagementService.ConfigurationService">
        <endpoint address="" binding="basicHttpBinding" contract="PracticeManagementService.IConfigurationService">
          <identity>
            <dns value="10.10.1.25" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="BasicHttpGeneralServiceBehavior"
         name="PracticeManagementService.PersonSkillService">
        <endpoint address="" binding="basicHttpBinding" contract="PracticeManagementService.IPersonSkillService" bindingConfiguration="genericBasicHttpBinding">
          <identity>
            <dns value="10.10.1.25" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="BasicHttpGeneralServiceBehavior"
          name="PracticeManagementService.TitleService">
        <endpoint address="" binding="basicHttpBinding" contract="PracticeManagementService.ITitleService">
          <identity>
            <dns value="10.10.1.25" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="BasicHttpGeneralServiceBehavior"
         name="PracticeManagementService.VendorService">
        <endpoint address="" binding="basicHttpBinding" contract="PracticeManagementService.IVendorService">
          <identity>
            <dns value="10.10.1.25" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BasicHttpGeneralServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="userHttps" maxBufferSize="196608" maxReceivedMessageSize="196608">
          <security mode="Transport">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="genericBasicHttpBinding" maxReceivedMessageSize="500000000">
          <readerQuotas  maxStringContentLength="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

