<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="EmailDeliveryProviderType" value="PracticeManagement.EmailMessageDeliveryProvider"/>
    <add key="EmailsFilePath" value="c:\emails"/>
    <add key="EmailAddressFrom" value="support@practivemanagement.com"/>
    <add key="EnableSSL" value="true"/>

    <!-- NOTE: if you change senioritySeparationRangeValue, be sure to change it also in PracticeManagement/appSettings.config -->
    <add key="senioritySeparationRangeValue" value="19"/>
  </appSettings>    
  <connectionStrings xdt:Transform="Replace">   
    <add name="connection"
         connectionString="Server=tcp:gdl05wmfhe.database.windows.net;Database=PracticeMgmtDB;User ID=pracadmin@gdl05wmfhe;pwd=Meatballs#;Connection Timeout=180"
         providerName="System.Data.SqlClient"/>

    <add name="AspNetMembership"
       connectionString="Server=tcp:gdl05wmfhe.database.windows.net;Database=PracticeMgmtDB;User ID=pracadmin@gdl05wmfhe;pwd=Meatballs#;Connection Timeout=120;"
       providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <mailSettings xdt:Transform="Replace">
      <smtp deliveryMethod="Network" from="apptest@ggktech.com">
        <network host="smtp.gmail.com" port="25"  userName="apptest@ggktech.com"  password="Hyderabad007" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
