<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>
    <connectionStrings xdt:Transform="Replace">
        <add name="connection" connectionString="Server=DEV;Database=PracticeManagement;User ID=PracticeManagementUser;pwd=sw194qa;Connection Timeout=240;"
         providerName="System.Data.SqlClient" />
        <add name="ASPNetMembership" connectionString="Server=DEV;Database=PracticeManagement;User ID=PracticeManagementUser;pwd=sw194qa;Connection Timeout=240;"
         providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.net>
        <mailSettings xdt:Transform="Replace">
            <smtp deliveryMethod="Network" from="practice@logic2020.net">
                <network host="smtpout.secureserver.net" port="25"  userName="practice@logic2020.net"  password="pm.7340" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
