IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'%Database_Name%')
DROP DATABASE [%Database_Name%]
GO

CREATE DATABASE [%Database_Name%] ON  PRIMARY 
( NAME = N'%Database_Name%', FILENAME = N'%Sql_Data_Path%\%Database_Name%.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'%Database_Name%_log', FILENAME = N'%Sql_Data_Path%\%Database_Name%_log.LDF' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO

ALTER DATABASE [%Database_Name%] SET COMPATIBILITY_LEVEL = 100
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [%Database_Name%].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO

ALTER DATABASE [%Database_Name%] SET ANSI_NULL_DEFAULT OFF 
GO

ALTER DATABASE [%Database_Name%] SET ANSI_NULLS OFF 
GO

ALTER DATABASE [%Database_Name%] SET ANSI_PADDING OFF 
GO

ALTER DATABASE [%Database_Name%] SET ANSI_WARNINGS OFF 
GO

ALTER DATABASE [%Database_Name%] SET ARITHABORT OFF 
GO

ALTER DATABASE [%Database_Name%] SET AUTO_CLOSE ON 
GO

ALTER DATABASE [%Database_Name%] SET AUTO_CREATE_STATISTICS ON 
GO

ALTER DATABASE [%Database_Name%] SET AUTO_SHRINK OFF 
GO

ALTER DATABASE [%Database_Name%] SET AUTO_UPDATE_STATISTICS ON 
GO

ALTER DATABASE [%Database_Name%] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO

ALTER DATABASE [%Database_Name%] SET CURSOR_DEFAULT  GLOBAL 
GO

ALTER DATABASE [%Database_Name%] SET CONCAT_NULL_YIELDS_NULL OFF 
GO

ALTER DATABASE [%Database_Name%] SET NUMERIC_ROUNDABORT OFF 
GO

ALTER DATABASE [%Database_Name%] SET QUOTED_IDENTIFIER OFF 
GO

ALTER DATABASE [%Database_Name%] SET RECURSIVE_TRIGGERS OFF 
GO

ALTER DATABASE [%Database_Name%] SET  ENABLE_BROKER 
GO

ALTER DATABASE [%Database_Name%] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO

ALTER DATABASE [%Database_Name%] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO

ALTER DATABASE [%Database_Name%] SET TRUSTWORTHY OFF 
GO

ALTER DATABASE [%Database_Name%] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO

ALTER DATABASE [%Database_Name%] SET PARAMETERIZATION SIMPLE 
GO

ALTER DATABASE [%Database_Name%] SET READ_COMMITTED_SNAPSHOT OFF 
GO

ALTER DATABASE [%Database_Name%] SET HONOR_BROKER_PRIORITY OFF 
GO

ALTER DATABASE [%Database_Name%] SET  READ_WRITE 
GO

ALTER DATABASE [%Database_Name%] SET RECOVERY SIMPLE 
GO

ALTER DATABASE [%Database_Name%] SET  MULTI_USER 
GO

ALTER DATABASE [%Database_Name%] SET PAGE_VERIFY CHECKSUM  
GO

ALTER DATABASE [%Database_Name%] SET DB_CHAINING OFF 
GO

